@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


:root {
  --primaryColor: #2681c6
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.a4 {
  height: 95%;
  width: 90%;
}

.without-border-top {
  border: 1px solid var(--primaryColor);
  border-top: 0;
}

.input {
  border: none;
  border-radius: .3rem;
  background-color: rgb(243 244 246);
  padding: .5rem 1rem;

  transition: .4s ease-in-out;
}

.input:focus {
  outline: 1px solid var(--primaryColor);
}